$blue-bg: rgba(122, 118, 160, 1);

$light_blue: #0099cc ;
$blue: #318dc9 ;
$dark_blue: #1f63a7;
//#1d6483 ;

$orange:#ea7600;
$light_orange: #ff9933;

$red: #d0021b;
$dark_red: #a6093d;

$light_yellow: #516400;
$yellow: #ffcc00;
$dark_yellow: #e59107;

$purple: #90135e;

$pink: #bd10e0;

$light_green: #66cc33;
$green: #257f24;

$lightest_indigo: #65d0e3;
$indigo: #236192 ;
$dark_indigo: #4f6486;

$gray: #9b9b9b;
$dark_gray: #4a4a4a;
